/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/12/fondo-pantalla-navidad_4.jpg?tf=3840x');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para todos los contenedores */
.container-actual,
.container-love,
.container-halloween,
.container-navidad,
.container-anionuevo,
.container-party,
.container-graduation {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 10px; /* Ajusta el margen entre los contenedores */
    max-width: 80%; /* Limita el ancho máximo de los contenedores */
    width: 300px; /* Ancho inicial de los contenedores */
}

/* Estilos para el hover de los contenedores */
.container-actual:hover,
.container-love:hover,
.container-halloween:hover,
.container-navidad:hover,
.container-anionuevo:hover,
.container-party:hover,
.container-graduation:hover {
    border: 2px solid blue; /* Color del borde al hacer hover */
    background-color: rgba(0, 0, 255, 0.1); /* Fondo con transparencia al hacer hover */
    color: #0000ff; /* Color del texto al hacer hover */
    transform: scale(1.1); /* Escalar el elemento al 110% cuando se hace hover */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Sombra más pronunciada al hacer hover */
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container-actual,
    .container-love,
    .container-halloween,
    .container-navidad,
    .container-anionuevo,
    .container-party,
    .container-graduation {
        width: 90%; /* Ajuste para pantallas más pequeñas */
    }
}