body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2019/12/fondo-pantalla-navidad_4.jpg?tf=3840x');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el cuerpo cubra al menos toda la altura de la ventana */
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite que los contenedores se envuelvan en filas */
    justify-content: center; /* Centra los contenedores horizontalmente */
    gap: 20px; /* Espacio entre los contenedores */
    max-width: 80%; /* Ancho máximo del contenedor principal */
}

.container > div {
    flex: 1 1 300px; /* Distribución flexible de los contenedores */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.container > div:hover {
    border: 2px solid blue;
    background-color: rgba(0, 0, 255, 0.1);
    color: #0000ff;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.fecha-hora {
    margin-top: 10px;
}

.fecha-hora p {
    margin: 5px;
}

.fecha-hora p span {
    font-weight: bold;
}

.container-actual,
.container-love,
.container-halloween,
.container-navidad,
.container-anionuevo,
.container-party,
.container-graduation {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 10px; /* Ajusta el margen entre los contenedores */
    max-width: 80%; /* Limita el ancho máximo de los contenedores */
    width: 300px; /* Ancho inicial de los contenedores */
    border: 2px solid rgb(150, 12, 192); /* Color del borde al hacer hover */
}

#tex-actual {
    color: #0000ff;
}

.container-actual:hover,
.container-love:hover,
.container-halloween:hover,
.container-navidad:hover,
.container-anionuevo:hover,
.container-party:hover,
.container-graduation:hover {
    border: 2px solid blue; /* Color del borde al hacer hover */
    background-color: rgba(0, 0, 255, 0.1); /* Fondo con transparencia al hacer hover */
    color: #0000ff; /* Color del texto al hacer hover */
    transform: scale(1.1); /* Escalar el elemento al 110% cuando se hace hover */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Sombra más pronunciada al hacer hover */
}
